body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
button:hover{
    border: 1px solid brown;
    background-color: rgba(225,99,71,0.507);
}
::placeholder{
    color: rgba(150,23,23);
    text-align: right;
}
input,button{
    cursor: pointer;
    border: none;
    outline: none;
}
.anmk{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'info info info info info info'
    'form cont cont cont cont fotr';
}
.nav{
    background-color: black;
    color: white;
    grid-area: nav;
    text-align: center;
    margin: 0;
    padding: 0;
}
.info{
    grid-area: info;
    background-color: rgba(250, 235, 215, 0.623);
    text-align: center;
}
.formula{
    text-align: center;
    grid-area: form;
    background-color: rgba(50, 53, 50, 0.342);
}
.formula ul{
    text-align: center;
    list-style-type: none;
}
.formula li{
    text-align: left;
}
.hd{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 0px;
}
.calci{ 
    text-align: center;
    grid-area: cont;
    background-color: rgba(0,0,0,0.109);
}
.calci h3{
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 0px;
}
.calci input{
    padding: 5px;
    margin: 8px;
}
.calci h4{
    padding: 14px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}
.fotr{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    grid-area: fotr;
    background-color: rgba(207, 190, 207, 0.774);
}
table,td,th{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table{
    margin-left: 10px;
}
@media screen and (max-width:700px){
    .anmk{
        display: grid;
        grid-template-areas: 
        'nav nav nav nav nav nav'
        'info info info info info info'
        'cont cont cont fotr fotr fotr'
        'form form form fotr fotr fotr';
    }  
}
@media screen and (max-width:500px){
    .anmk{
        display: grid;
        grid-template-areas: 
        'nav nav nav nav nav nav'
        'info info info info info info'
        'cont cont cont form form form'
        'fotr fotr fotr fotr fotr fotr'
    }  
    .formula li{
        text-align:left;
    }
    table{
        margin-left: 12vw;
    }
}